{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

    {% load static %}

    

    <div class="row w-100 ml-2">
      <div class="col-1 shadow-sm p-1 border border-1">
        <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
             <a href={% url 'administrator:menu' %}>Home</a>
           <a href={% url 'administrator:policy' %}>Policies</a>
          <a href={% url 'administrator:schemas' %}>Schemas</a>
          <a href={% url 'administrator:view_users' %}>Users</a>
          <a href={% url 'accounts:settings' %}>Settings</a>
        </div>
      </div>
      <div class="col-md-10 vw-100 vh-100">

            <div class="ventana-home">
      
              <div class="lap-home bg-light p-4 border border-1">
                <h3>
                   Analytics 
                </h3>
                <br>
                <div id="main" style="width: 100%;height:400px;"></div>
              </div>

        </div>
      </div>
      <script src={% static 'assets/js/manage_analitycs.js' %}></script>
      {% else %}
      <script>
        window.onload=function() {
            window.location.href = "{% url 'accounts:log_in' %}";
        }  
    </script>
    {% endif %}
{% endblock %}
