:root {
    --color-primary: #3758F9;
    --color-secundary: #13C296;
    --color-primary-text: #637381;
    --color-secundary-text: #8899A8;
    --color-stroke: #DFE4EA;
    --color-gris-oscuro: #3e3e3e;
    --color-blanco: #F1F1F1;
    --tamanio-fuente: 0.5em;
    --tamanio-fuente-titulo: 1em;
    --tamanio-fuente-titulo-grande: 1.2em;
    --tamanio-fuente-subtitulo: 0.9em;
    --bold: 700;
    --normal: 400;
    --light: 300;
}







.barra-login{
    background-color: #001546;
    display: flex;
    justify-content: flex-end;
    padding: 1% 2%;
}

.barra-menu {
    background-color: var(--color-blanco);
    display: flex;
    width: 8vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    position: fixed;
    top: 7.5vh;
    left: 0;
}

.centered{
    display: flex;
    align-items: center;
}



.form-group {

    font-size: small;
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-group label{
    margin-bottom: 0;
    
    
}

.form-group input{
    height: 3vh;
    font-size: small;
    width: 30vw;
}

.logo-home{
    width: 8vh;
    height: 5vh;
}

.perfil{
    background-color: var(--color-verde);
    display: flex;
    width: 26vh;
    justify-content: space-between;
    align-items: center;
}

.cuerpo-base {
    margin-top: -2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--color-gris-extra-claro);
    flex-direction: column;
    align-content: flex-end;
}
.perfil img{
    width: 5vh;
    height: 5vh;
}


.cuerpo-home {
    display: flex;
    width: 100%;
    margin-top: 10vh;
    height: 100%;
    justify-content: center;
}

.ventana-home {
    display: flex;
    margin-top: 5vh;
    height: 80%;
    margin-bottom: 1vh;
    width: 100%;
    justify-content: center;
}


.inicio-registro-sensor {
    background-color: #F1F1F1;
    display: flex;
    padding: 1%;
    margin: 10% 0%;
    width: 110vh;
    height: 100%;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 1vh;
    justify-content: space-between;
}


.lap-home {
    background: white;
    border-radius: 1vh;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.botones_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vh;
    height: 70vh;
    margin-top: 10vh;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
}

#registrar_home_btn{
    width: 28%;
    height: 45%;
    background-image: url(../img/menu_img.png);
    background-size: cover;
    background-position: center;
}
#contenido_home_btn {
    width: 60%;
    height: 45%;
    display: flex;
    color: var(--color-blanco);
    background: var(--color-azul);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
}

#madurez_home_btn{
    width: 60%;
    height: 45%;
    color: var(--color-azul);
    background: var(--color-gris-claro);
}

.botones_menu a {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.botones_menu div a {
    display: flex;
    margin-right: 1vh;
    margin-bottom: 1vh;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.botones_menu div a p {
    margin-bottom: 0;
    margin-top: 1vh;
}

.icon-center {
    width: 28%;
    height: 45%;
}
.icon-center img{
    width: 100%;
    height: 100%;
}

.graficos_madurezz{
    margin-top: 5vh;
}
.madurez_lap{
    background: var(--color-blanco);
    border-radius: 1vh;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

#graficp_details{
    width: 60vh;
    height: 50vh;
}

.shadow-right {
    box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.05);
}




.icon{
    width: 4vh;
    height: 2.5vh;
}

.ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 0%;
    height: 100%;
}
.inicio-de-sesin {
    display: flex;
    padding: 2%;
    margin: 5% 0%;
    width: 80%;
    height: 100%;
    box-shadow: 0px 0px 3px #000000;
    border-radius: 1vh;
    justify-content: space-between;
}

.overlap {
    position: relative;
    width: 49%;
    height: 100%;
    background-color: var(--color-verde);
    display: flex;
    border-radius: 1vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#text-wrapper{
    font-weight: var(--bold);
    margin: 20vh 3vh 1vh;
}

.overlap p{
    color: var(--color-azul);
    font-size: var(--tamanio-fuente-titulo);
    margin: 1vh 3vh;
}

.overlap-sesion{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: var(--color-gris-extra-claro);
    display: flex;
    border-radius: 1vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}



.text-sesion-title {
    color: var(--color-azul);
    font-size: var(--tamanio-fuente-titulo-grande);
    font-weight: var(--bold);
    margin: 2vh 0vh 2vh 0vh;
    text-align: center;
}

.recover {
    display: flex;
    margin: 0vh 3vh;
    color: var(--color-azul);
    align-items: baseline;
    font-size: var(--tamanio-fuente);
    flex-direction: column;
} 
.centrar {
    display: flex;
    justify-content: center;
    width: 100%;
}









.btn-sesion:hover{
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

.btn-sesion:focus{
    outline: none;
}

.btn-sesion:active{
    transform: scale(0.95);
}

.si-no-tiene-usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5vh 0vh 0vh 3vh;
    color: var(--color-azul);
}

.si-no-tiene-usuario a{
    font-weight: var(--bold);
}

.pie-overlap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: 0vh 0vh 0vh 0vh;
}
.org-argos{
    width: 45%;
    height: 100%;
}

.org{
    width: 45%;
    height: 100%;
    margin-top: 2%;
}

.ventana-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0vh 0vh 0vh 0vh;
    background: var(--color-gris-extra-claro);
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    flex-wrap: nowrap;
}

.encabezado-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 21%;
    border-radius: 1vh 1vh 0vh 0vh;
    padding: 0em 3em;
    background: var(--color-verde);
}
#usr_form{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.formulario {
    margin-top: -1vh;
    display: flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.lap{
    padding: 2vh 0vh 0vh 0vh;
    height: 80%;
    width: 60%;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.text-title-input{
    color: var(--color-azul);
    font-size: var(--tamanio-fuente-titulo-grande);
    font-weight: var(--bold);
    font-size: 2vw;
}

.sensor-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: scroll;
    z-index: 0;
}

.sensor-table th, .sensor-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.sensor-table th {
    background-color: #f2f2f2;
}

.sensor-table thead{
    position: sticky; 
    top: 0; 
}

.sensor-table tbody tr:hover {
    background-color: #f5f5f5;
}



.text-sesion{
    width: 45% !important;
    font-weight: var(--bold);
    margin: 1vh 3vh 0vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    color: var(--color-azul);
}

.text-sesion input{
    width: 100%;
    height: 55%;
}

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 50%;
}

#tableBody_sensors{
    overflow-y:auto;
    max-height: fit-content;
}

.table-responsive{
    overflow-y: auto;
    height: 70vh;
    margin-top: 1vh;
}

.div-con-opacidad {
    opacity: 1; /* Opacidad inicial del div */
    transition: opacity 0.3s; /* Transición suave de la opacidad */
    /* Otros estilos según tus necesidades */
}

.div-con-opacidad:hover {
    opacity: 0.8; /* Opacidad del div cuando el mouse está encima */
}

.centrar_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;
}


.barra-home {
    background-color: var(--color-primary);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0rem 1rem;
}

.navbar-nav .nav-link {
    color: var(--color-gris-oscuro)!important;
    margin-left: 1vh;

}

.navbar-nav .nav-link:hover {
    color: var(--color-gris)!important;
}

.btn-menu {
    width: 5vh;
    height: 5vh;
    margin-top: 2vh;
}


img {
    width: 5vh;
    height: 5vh;
}


#form-sign-in {
    font-size: 1.5vh;
    display: flex;
    height: 100%;

    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.forms_centered {
    font-size: small;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}

#btn_change_p {

    width: 40%;
    align-self: center;
}


.navbar-expand-md .navbar-toggler {
    display: none;
    max-width: 500px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}



.nav_menu{
        /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    /* display: flex; */
    left: 85%;
    width: 100%;
    background: var(--color-verde);
    z-index: 100;
    /* text-align: center; */

}
.nav_barra{
    /* width: 15vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.icon-table-edit{
    background-image: url(../img/edit_svgrepo.com.png);
}
.icon-table-delete{
    background-image: url(../img/delete-2_svgrepo.com.png);
}
.icon-table-view{
    background-image: url(../img/view-simple-815_svgrepo.com.png);
}

.madurez_content {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin-top: 3vh;
    padding-bottom: 3%;
}


.madurez_flex_content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.madurez_content p {
    background: white;
    color: black;
    padding: 1.5em;
    width: 100%;
    display: flex;
    height: 25%;
    font-size: 0.9em;
    border-radius: 1vh;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.madurez_content p b {
    font-size: 1.2em;
}

.form-check {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.form-check input {
    width: 1rem;
    margin-top: -.1rem;
}

.form-restore-password{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.form_pequeno {
    height: 20vh;
    width: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.lap_2 {
    padding: 2vh 0vh 0vh 0vh;
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.grande{
    align-items: stretch;
}

.btn_centrar {
    width: 30vh;
    align-self: center;
}

.correct{
    width: 80%;
}

.btn_mg {
    margin-left: 30%;
    margin-top: 10%;
}

.madurez_lap2 {
    background: var(--color-blanco);
    border-radius: 1vh;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.madurez_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1vh;
}
.cuadro{
        height: 50%;
        width: 50%;
    
}

.onlyread{
        background: var(--color-gris-claro);
}

.forms_centered2{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: end;
    align-content: center;
}

.forms_centered2 p {
    width: 100%;
    font-size: small;
    margin: 0;
}

.forms_centered2 p input{
    width: 100%;
}

#btnViews{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.madurez_div form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.madurez_div form p{
    margin-right: 10%;
    margin-bottom: 0;
}

.normal{
    width: 40%!important;
}

.div_madurez {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.graficos_madurez{
    display: flex;
    width: 80%;
    height: 60%;
}

.chart {
    width: 90%;
    min-height: 400px;
}


.data_view {
    width: 100%;
    background: white;
    border-radius: 1vh;
    margin-left: 5%;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    height: 60%;
    justify-content: center;
}

.titulo_tablas{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.normal2 {
    width: 60% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.normal2 h5{
    width: 50%;
    font-size: 1em;
    margin: 0;
}

.contenedor2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50%;
    justify-content: space-between;
}

.centrar2 {
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
}

.mejor_input {
    width: 50%;
}

.chart2 {
    min-width: 65vw;
    min-height: 30vw;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    background: white;
    border-radius: 1vh;
    padding-top: 1vh;
    padding-left: 1vh;
}

.contenedor2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;
}
.contenedor2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1vh;
    justify-content: center;
    align-content: center;
}
.contenedor3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.form_resis_diseno {
    display: flex;
    width: 100%;
    background: white;
    flex-wrap: nowrap;
    border-radius: 1vh;
    margin-bottom: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.normal3{
    width: 40%!important;
}

.lap3 {
    padding: 2vh 0vh 0vh 0vh;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.btn_registro{
    width: 80%;
    height: 10%;
}
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-adapt {
    height: 80%;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.btn-register{
    margin-left: 5em;
}

.form-check-input {
    margin-bottom: 2%;
}

.content_img{
    height: 2em;
    width: 2em;
}

.btn-modern{
    height: 50%;
}



.menu_inicio{
    width: 80%;
}

.lap4{

    width: 100%;
    display: flex;

}

.parametros {
    width: 20em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.icon-table{
        width: 40%;
        height: 40%;
}

/* Estilo para el spinner */
.spinner {
    display: none; /* Oculto por defecto */
    border: 16px solid #f3f3f3; /* Color de fondo */
    border-top: 16px solid var(--color-verde); /* Color del spinner */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Animación de rotación */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* Clase para mostrar el spinner */
  .show2 {
    display: block;
    position: relative;
    top: 15em;
    left: 36em;
  }


body{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
    color: var(--color-azul);
    overflow: hidden;
}

.h1, h1 {
    font-size: 2.5em;
}

.addparam{
    height: 45% !important;
    text-align: -webkit-center;
}


.logo{
    height: 4vh;
    width: 8vh;
}

.table-icon {
    height: 3vh;
    width: 3vh;
}

.custom-file-input {
    position: relative;
    overflow: hidden;
    opacity: 10 !important;
}
.custom-file-input input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}
.custom-file-label {
    display: inline-block;
    background-color: white;
    color: var(--color-gris-oscuro);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px; /* Ajusta el tamaño según tus necesidades */
}

.h-5{
        height: 5% !important;
}

.h-15{
    height: 15% !important;
}

.formatted-json {
    white-space: pre-wrap; /* Preserva los saltos de línea y los espacios */
    background-color: #f8f9fa; /* Color de fondo claro para resaltar */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}