{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

    {% load static %}

    

    <div class="row w-100 ml-5 mt-2">
      <div class="col-1 shadow-sm p-1 border border-1">
        <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
             <a href={% url 'consumer:info' %}>Home</a>
             <a href={% url 'consumer:view_datasets' %}>Datasets</a>
          <a href={% url 'consumer:consumer_history' %}>Projects</a>
          <a href={% url 'accounts:settings' %}>Settings</a>
        </div>
      </div>
      <div class="col-md-10 vw-100 vh-100">

            <div class="ventana-home">
      
              <div class="lap-home bg-light p-4 border border-1">
                <h3>
                  Recent Activity
                </h3>
                <br>
                <div class="container mt-5">
                  <div class="row mb-3">
                      <div class="col-md-3">
                          <input type="date" class="form-control" id="startDate" placeholder="Fecha de inicio">
                      </div>
                      <div class="col-md-3">
                          <input type="date" class="form-control" id="endDate" placeholder="Fecha de fin">
                      </div>
                      <div class="col-md-2">
                          <input type="text" class="form-control" id="schema" placeholder="Schema">
                      </div>
                      <div class="col-md-2">
                          <input type="text" class="form-control" id="policy" placeholder="Policy">
                      </div>
                      <div class="col-md-2">
                          <input type="text" class="form-control" id="category" placeholder="Categoría">
                      </div>
                  </div>
                  <button class="btn btn-primary mb-3" onclick="buscarHistorial()">Buscar</button>
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Fecha</th>
                              <th>Acción</th>
                              <th>Schema</th>
                              <th>Policy</th>
                              <th>Categoría</th>
                          </tr>
                      </thead>
                      <tbody id="historialTableBody">
                          <!-- Las filas del historial se agregarán aquí dinámicamente -->
                      </tbody>
                  </table>
              </div>
              </div>

        </div>
      </div>
      <script src={% static 'assets/js/manage_users_history.js' %}></script>
      {% else %}
      <script>
        window.onload=function() {
            window.location.href = "{% url 'accounts:log_in' %}";
        }  
    </script>
    {% endif %}
{% endblock %}
