{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="cuerpo-principal">
    <div class="inicio-de-sesin d-flex flex-column">

      <div class="ventana-input">
        <div class="encabezado-input">

          <div class="text-title-input">{% trans 'Resend an activation code' %}</div>
        </div>
        <div class="lap_2">
          
        Enter the email or username to resend the code. <br><br>
            <form method="post" class="form_pequeno">

                {% csrf_token %}
                {% bootstrap_form form %}
        
                <button class="btn btn-success">{% trans 'Next' %}</button>
        
            </form>
        
            <hr>
        
            <ul>
                <li>
                    <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

