{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="cuerpo-principal">
    <div class="inicio-de-sesin d-flex flex-column">

      <div class="ventana-input">
        <div class="encabezado-input">

          <div class="text-title-input">{% trans 'Restore Password' %}</div>
        </div>
        <div class="lap">
            {% if validlink %}

                <p>
                    {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
                </p>

                <form method="post" class="form-restore-password">

                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <button class="btn btn-success">{% trans 'Change' %}</button>

                </form>

            {% else %}

                <div class="alert alert-danger">
                    {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
                </div>

            {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}




