{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="cuerpo-principal">
    <div class="inicio-de-sesin d-flex flex-column">

      <div class="ventana-input">
        <div class="encabezado-input">

          <div class="text-title-input">{% trans 'Restore Password' %}</div>
        </div>
        <div class="lap correct">
            <div>
                {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}
                {% trans 'You should receive them shortly.' %}
        
                <br>
        
                {% trans "If you don't receive an email, please make sure you've entered the address you signed up with, and check your spam folder." %}

                <a href={% url 'accounts:log_in' %}>
                  <button class="btn btn-success">Volver</button>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

