{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

    {% load static %}

    

    <div class="row w-100 ml-4 mt-2 justify-content-between">
      <div class="col-sm-2 shadow-sm p-1 border border-1">
          <div class="nav flex-column nav-pills text-center mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <ul class="list-group ml-0">
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:menu' %}>Home</a>
                  </li >
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:policy' %}>Policies</a>
                  </li>
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:create_policy' %}>New Policy</a>
                  </li>
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:schemas' %}>Schemas</a>
                  </li>
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:create_schemas' %}>New Schema</a>
                  </li>
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:registered_data' %}>Datasets</a>
                  </li>
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:view_users' %}>Users</a>
                  </li>
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'administrator:history' %}>History</a>
                  </li>
                  <li class="list-group-item list-group-item-action ">
                      <a href={% url 'accounts:settings' %}>Settings</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-md-9 w-100 vh-100 mt-5 mr-3 align-self-center">
          <div class="ventana-home">
              <div class="lap-home  p-3 border border-1">
                  <div class="d-flex justify-content-between w-100">
                      <h3>
                          Schema 
                      </h3>
                  </div>
                  <hr>
                  <div class="container mt-3">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="JSON Format">JSON Format</label>
                            <textarea class="form-control" id="JSON Format" rows="8" placeholder="Enter description"></textarea>
                        </div>
                        <div class="w-100 d-flex justify-content-end">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <script src={% static 'assets/js/manage_analitycs.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    {% else %}
    <script>
      window.onload=function() {
      window.location.href = "{% url 'accounts:log_in' %}";
      }  
    </script>
    {% endif %}
    {% endblock %}