{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if token != "Variable not found" %}

    {% load static %}

    

    <div class="row w-100 ml-4 mt-2 justify-content-between">
        <div class="col-sm-2 shadow-sm p-1 border border-1">
            <div class="nav flex-column nav-pills text-center mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ul class="list-group ml-0">
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:menu' %}>Home</a>
                    </li >
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:category' %}>Category</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:create_category' %}>New Category</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:policy' %}>Policies</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:create_policy' %}>New Policy</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:schemas' %}>Schemas</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:create_schemas' %}>New Schema</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:registered_data' %}>Datasets</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:view_users' %}>Users</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:history' %}>History</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:about_admin' %}>About</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'accounts:log_out' %}>Log out</a>
                    </li>
                </ul>
            </div>
        </div>
      <div class="col-md-9 w-100 vh-100 mt-5 mr-3 align-self-center">
        <div id="alertContainer" class="position-absolute position-alert"></div> 
          <div class="ventana-home">
              <div class="lap-home  p-3 border border-1">
                  <div class="d-flex justify-content-between w-100">
                      <h3>
                          Schema 
                      </h3>
                  </div>
                  <hr>
                  <div class="container mt-1">
                    <form id="schemaForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control w-100" id="name" name="name" placeholder="Enter name">
                        </div> 
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control font-size-small w-100" id="description" name="description"  rows="3" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="structure">Structure</label>
                            <input class="form-control w-100 " id="structure" name="structure" rows="8" placeholder="Enter structure and enter words separated by spaces"  oninput="updateSelectOptions()"></input>
                        </div>
                        <div class="form-group">
                            <label for="fieldToEncrypt">Choose fields that you want to encrypt</label>
                            <select id="fieldToEncrypt" name="fieldToEncrypt" class="form-selector w-100"  multiple>
                                <option value="" disabled> Complete structure input to get options</option>
                                <!-- Las opciones se actualizarán dinámicamente -->
                            </select>
                        </div>
                        <div class="w-100 d-flex justify-content-end ">
                          <button type="submit" id="submitJsonButton" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <!-- Botón para validar el formato JSON -->
                    <div>
                        {% comment %} <button id="validateJsonButton" class="btn btn-primary btn-sm">Validate JSON</button>
                        <!-- Div para mostrar el mensaje de validación -->
                        <div id="validationMessage" class="mt-2 "></div> {% endcomment %}
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <script src={% static 'assets/js/manage_schemas.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script>
        function updateSelectOptions() {
            const input = document.getElementById('structure').value;
            const words = input.trim().split(/\s+/); // Divide por cualquier cantidad de espacios en blanco
            const select = document.getElementById('fieldToEncrypt');

            // Limpiar las opciones actuales
            select.innerHTML = '';

            // Añadir nuevas opciones
            words.forEach(word => {
                if (word) {
                    const option = document.createElement('option');
                    option.value = word;
                    option.textContent = word;
                    select.appendChild(option);
                }
            });
        }
    </script>
    {% else %}
    <script>
      window.onload=function() {
      window.location.href = "{% url 'accounts:log_in' %}";
      }  
    </script>
    {% endif %}
    {% endblock %}