{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

    {% load static %}

    <div class="row w-100 ml-4 mt-2 justify-content-between">
        <div class="col-sm-2 shadow-sm p-1 border border-1">
            <div class="nav flex-column nav-pills text-center mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ul class="list-group ml-0">
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:menu' %}>Home</a>
                    </li >
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:policy' %}>Policies</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:create_policy' %}>New Policy</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:schemas' %}>Schemas</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:create_schemas' %}>New Schema</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:registered_data' %}>Datasets</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:view_users' %}>Users</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:history' %}>History</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'administrator:category' %}>Category</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a href={% url 'accounts:settings' %}>Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 w-100 vh-100 mt-5 mr-3 align-self-center">
            <div class="ventana-home">
                <div class="lap-home  p-3 border border-1">
                    <div class="d-flex justify-content-between w-100">
                        <h3>
                            Manage Users 
                        </h3>
                    </div>
                    <div class="row form-group">
                        Filters
                        <hr>
                        <div class="d-flex">
                            <div class="col w-25">
                                <label for="searchInput">By Name:</label>
                                <input type="text" id="searchInput" class="form-control" placeholder="Search..." onkeyup="filterTable()">
                            </div>
                            <div class="col w-25">
                                <label for="searchEmail">By Email:</label>
                                <input type="email" id="searchEmail" class="form-control" placeholder="Search..." onkeyup="filterTable()">
                            </div>
                        </div>
                    </div>
                    <div class="container mt-1 w-100 sensor-table form-group h-75">
                      <table class="table table-sm table-hover " id="userTable">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <!-- El botón para eliminar con un data attribute para el id -->
                                        <button class="btn btn-danger btn-sm" onclick="confirmDelete({{ user.id }})" data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">No users found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
              <!-- Modal's Section -->
      <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this user?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
                </div>
            </div>
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src={% static "assets/js/manage_users.js" %}></script>
    {% else %}
    <script>
        window.onload=function() {
        window.location.href = "{% url 'accounts:log_in' %}";
        }  
    </script>
    {% endif %}
{% endblock %}
