{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

  {% if request.user.is_authenticated %}

    {% load static %}

    

    <div class="row w-100 ml-4 mt-2 justify-content-between">
      <div class="col-sm-2 shadow-sm p-1 border border-1">
        <div class="nav flex-column nav-pills text-center mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <ul class="list-group ml-0">
            <li class="list-group-item list-group-item-action ">
                <a href={% url 'holder:home' %}>Home</a>
              </li >
              <li class="list-group-item list-group-item-action ">
                <a href={% url 'holder:schemas_owner' %}>Datasets</a>
              </li>
              <li class="list-group-item list-group-item-action ">
                <a href={% url 'holder:register_datasets' %}>Create New</a>
              </li>
              <li class="list-group-item list-group-item-action ">
                <a href={% url 'accounts:settings' %}>Settings</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 w-100 vh-100 mt-5 mr-3 align-self-center">
          <div class="ventana-home">
            <div class="lap-home  p-2 border border-1">
              <h3>
                Recent Activity 
              </h3>
              <div class="container-fluid d-flex h-50">
                <div id="main" style="width: 80%;height:250px;"></div>
                <div class=" w-20 d-flex ">
                  <img src={% static "assets/img/LOGO-REGULAR-LIGHT.svg" %} class="img-fluid h-50 w-100 align-self-center" alt="">
                </div>
              </div>  
              <div class="h-25">
                <h6>Consumption</h6>
                <div class="h-100 sensor-table">
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Consumidor</th>
                        <th>Dataset</th>
                        <th>Since</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>John Doe</td>
                        <td>21</td>
                        <td>06/07/2024 10:54:234</td>
                        <td> <a href="{% url 'holder:dataset_selected' %}"><img class="img-fluid table-icon" src={% static "assets/img/right.png" %} alt=""></a></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Mary Smith</td>
                        <td>22</td>
                        <td>06/07/2024 10:58:234</td>
                        <td> <a href="{% url 'holder:dataset_selected' %}"><img class="img-fluid table-icon" src={% static "assets/img/right.png" %} alt=""></a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>July Dooley</td>
                        <td>23</td>
                        <td>06/07/2024 11:11:154</td>
                        <td> <a href="{% url 'holder:dataset_selected' %}"><img class="img-fluid table-icon" src={% static "assets/img/right.png" %} alt=""></a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>July Dooley</td>
                        <td>23</td>
                        <td>06/07/2024 11:11:154</td>
                        <td> <a href="{% url 'holder:dataset_selected' %}"><img class="img-fluid table-icon" src={% static "assets/img/right.png" %} alt=""></a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>July Dooley</td>
                        <td>23</td>
                        <td>06/07/2024 11:11:154</td>
                        <td> <a href="{% url 'holder:dataset_selected' %}"><img class="img-fluid table-icon" src={% static "assets/img/right.png" %} alt=""></a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>July Dooley</td>
                        <td>23</td>
                        <td>06/07/2024 11:11:154</td>
                        <td> <a href="{% url 'holder:dataset_selected' %}"><img class="img-fluid table-icon" src={% static "assets/img/right.png" %} alt=""></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              <div>
              <button class="btn btn-primary mt-2">Datasets</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src={% static 'assets/js/manage_analitycs.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  {% else %}
    <script>
      window.onload=function() {
        window.location.href = "{% url 'accounts:log_in' %}";
      }  
    </script>
  {% endif %}
{% endblock %}
