{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if token != "Variable not found" %}

    {% load static %}



    <div class="row w-100 ml-4 mt-2 justify-content-between">
        <div class="col-sm-2 shadow-sm p-1 border border-1">
            <div class="nav flex-column nav-pills text-center mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ul class="list-group ml-0">
                    <li class="list-group-item list-group-item-action ">
                        <a class="text-danger" href={% url 'consumer:info' %}>Home</a>
                    </li >
                    <li class="list-group-item list-group-item-action ">
                        <a class="text-danger" href={% url 'consumer:view_datasets' %}>Datasets</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a class="text-danger" href={% url 'consumer:consumer_history' %}>Projects</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a class="text-danger" href={% url 'consumer:about_consumer' %}>About</a>
                    </li>
                    <li class="list-group-item list-group-item-action ">
                        <a class="text-danger" href={% url 'accounts:log_out' %}>Log out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 w-100 vh-100 mt-5 mr-3 align-self-center">
            <div id="alertContainer" class="position-absolute position-alert"></div> 
            <div class="ventana-home">
                <div class="lap-home  p-2 border border-1">
                    <h3>
                    Recent Activity 
                    </h3>
                    <div class="container-fluid d-flex h-50">
                        <div id="main" style="height:250px;" class="d-flex w-50 flex-column">
                            <p class="border border-danger">
                                <h5>
                                    <b>User Information</b>
                                </h5>
                                <b>Company </b> {{company}} <br>
                                <b>NIT </b> {{nit}}
                            </p>

                            <button class=" btn-outline-danger btn btn-lg mt-3">
                                Total Paid: ${{total_money_paid}} <br>
                            </button>

                        </div>
                            <div class=" w-50 d-flex ">
                                <img src={% static "assets/img/LOGO-REGULAR-LIGHT-RED.svg" %} class="img-fluid h-100 w-100 align-self-center" alt="">
                            </div>
                    </div>  
                    <div class="container-fluid d-flex h-75 w-100"> 
                        <div class="h-100 w-100">
                            <h6>Datasets in enviroment</h6>
                            <div class="h-90 sensor-table w-100">
                                <table class="table table-hover table-sm w-100">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Project</th>
                                            <th>Policy</th>
                                            <th>Expiration</th>
                                            <th>Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableProjectsConsumers">
                                        <tr>
                                            <td colspan="7">No projects found.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-danger mt-2 btn-sm w-25" href="{% url 'consumer:consumer_history' %}">Projects</a>
                </div>
                  </div>
            </div>
        </div>
    </div>

    <script src={% static 'assets/js/manage_analitycs_consumer.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    {% else %}
    <script>
        window.onload=function() {
        window.location.href = "{% url 'accounts:log_in' %}";
        }  
    </script>
    {% endif %}
{% endblock %}